:root {
    --bg: #0a0a0a;
    --g1: rgba(6, 78, 59, 0.40); /* #064e3b à 40% */
    --g2: rgba(6, 95, 70, 0.40); /* #065f46 à 40% */
}

html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system;
    scroll-behavior: smooth;
    height: 100%;
    background:
            radial-gradient(circle at 20% 30%, var(--g1), rgba(6,78,59,0) 70%),
            radial-gradient(circle at 80% 70%, var(--g2), rgba(6,95,70,0) 70%),
            var(--bg);
    background-attachment: fixed;
}

#root { min-height: 100%; }

main { margin-top: 60px; } /* espace sous le header fixe */
